.icon {
  width: 40px;
  height: 40px;
}
.adminA,
.avatar,
.icon {
  position: relative;
}
.avatar {
  border-radius: var(--br-5xs);
  background-color: var(--stroke);
  width: 40px;
  height: 40px;
}
.adminA {
  font-weight: 500;
}
.iconarrowDown {
  position: relative;
  width: 24px;
  height: 24px;
}
.iconParent,
.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconParent {
  justify-content: center;
  gap: var(--gap-mid);
}
.inner {
  position: absolute;
  top: 0;
  left: 270px;
  background-color: var(--color-white);
  width: 1650px;
  height: 90px;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  justify-content: flex-end;
}
.title,
.title1 {
  position: relative;
}
.title {
  font-size: var(--font-size-5xl);
  color: var(--text-main-text);
}
.title1 {
  align-self: stretch;
  letter-spacing: -0.02em;
}
.lcDropdownIcon,
.text {
  position: relative;
  flex-shrink: 0;
}
.text {
  font-weight: 300;
  display: inline-block;
  width: 151px;
}
.lcDropdownIcon {
  width: 10px;
  height: 10px;
  overflow: hidden;
}
.contents {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  align-items: center;
  justify-content: space-between;
}
.compDropdownC1,
.compDropdownDefault {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.compDropdownDefault {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--stroke);
  padding: var(--padding-3xl) var(--padding-xl);
  align-items: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.compDropdownC1 {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.text2,
.title3 {
  position: relative;
}
.title3 {
  align-self: stretch;
  letter-spacing: -0.01em;
}
.text2 {
  font-weight: 300;
}
.compInputDefualt,
.input {
  align-self: stretch;
  display: flex;
}
.input {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  height: 54px;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-11xl);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.compInputDefualt {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mini);
}
.icIcon,
.text3 {
  position: relative;
}
.icIcon {
  width: 15.99px;
  height: 16px;
}
.text3 {
  letter-spacing: -0.01em;
}
.compBtnDefualt,
.node {
  border-radius: var(--br-9xs);
  align-items: center;
  justify-content: center;
}
.node {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-royalblue-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-21xl);
  gap: var(--gap-3xs);
}
.compBtnDefualt {
  border: 1px solid var(--bg-soft-1);
  box-sizing: border-box;
  width: 391px;
  height: 47px;
}
.areaBtn,
.compBtnDefualt,
.compInput {
  display: flex;
  flex-direction: column;
}
.areaBtn {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.compInput {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--stroke);
  padding: var(--padding-41xl) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.title4 {
  position: relative;
  letter-spacing: -0.1em;
}
.titleWrapper {
  align-self: stretch;
  background-color: var(--color-white);
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--text-main-text);
}
.b {
  position: relative;
}
.div1 {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divide {
  position: relative;
  border-right: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1px;
  height: 41px;
  opacity: 0.2;
}
.div2,
.group1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  flex: 1;
  flex-direction: column;
}
.group1 {
  align-self: stretch;
  background-color: var(--color-ghostwhite-200);
  height: 40px;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  color: var(--key-black);
}
.group,
.group2,
.groupParent {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.group2 {
  background-color: var(--color-gray-300);
  border-top: 1px solid var(--stroke);
  border-bottom: 1px solid var(--stroke);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.group,
.groupParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--stroke);
  overflow: hidden;
  flex-direction: column;
}
.groupParent {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.body,
.bodyWrapper {
  display: flex;
  align-items: center;
}
.body {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite-100);
  border: 1px solid var(--stroke);
  flex-direction: row;
  padding: var(--padding-11xl);
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bodyWrapper {
  position: absolute;
  top: 102px;
  left: 0;
  width: 1920px;
  height: 978px;
  flex-direction: column;
  padding: var(--padding-61xl);
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--font-size-lg);
  color: var(--key-black1);
  font-family: var(--font-spoqa-han-sans-neo);
}
.icIcon1 {
  position: relative;
  width: 27.78px;
  height: 26.81px;
}
.linkAjou {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 900;
}
.logo {
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div53 {
  position: relative;
  letter-spacing: -1px;
  font-weight: 500;
}
.menu,
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.menu1 {
  color: var(--color-royalblue-100);
}
.qa {
  position: relative;
  letter-spacing: -1px;
}
.menu2 {
  align-items: center;
  justify-content: flex-start;
}
.iconGroup,
.menu2,
.nav {
  display: flex;
  flex-direction: row;
}
.nav {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  color: var(--text-10);
  font-family: var(--font-spoqa-han-sans-neo);
}
.iconGroup {
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
  color: var(--text-100);
  font-family: var(--font-dm-sans);
}
.div,
.sidebar {
  box-sizing: border-box;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  border-bottom: 1px solid var(--color-royalblue-100);
  width: 1920px;
  height: 102px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-51xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-roboto);
}
.div {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-cornflowerblue);
  width: 100%;
  height: 1086px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-100);
  font-family: var(--font-dm-sans);
}
