/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans+Neo:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"); */
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts
    --font-spoqa-han-sans-neo: "Spoqa Han Sans Neo";
    --font-dm-sans: "DM Sans";
    --font-roboto: Roboto;
    --font-inter: Inter; */

    /* font sizes */
    --font-size-xs: 12px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-27xl: 46px;
    --font-size-5xl: 24px;
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-11xl: 30px;

    /* Colors */
    --color-white: #fff;
    --color-cornflowerblue: #1aa1f2;
    --color-ghostwhite-100: #f8fbff;
    --color-ghostwhite-200: #f7f7ff;
    --stroke: #ddd;
    --bg-soft-1: #faf8f7;
    --text-100: #1c1c1c;
    --color-gray-100: #181818;
    --color-gray-200: rgba(28, 28, 28, 0.5);
    --color-gray-300: rgba(255, 255, 255, 0.98);
    --color-gray-400: rgba(255, 255, 255, 0.95);
    --text-main-text: #333;
    --color-darkslategray-100: #2a353d;
    --key-black1: #2b3135;
    --key-black: #242e3a;
    --color-royalblue-100: #3a6ff8;
    --color-royalblue-200: #007eff;
    --text-10: #b0b0b0;
    --color-dodgerblue-100: #458fff;
    --color-dodgerblue-200: #4f86ff;
    --color-lightsteelblue-100: #c5ddf5;
    --color-lightsteelblue-200: #a4b6e1;
    --color-lightsteelblue-300: #a6b2cd;
    --color-darkslateblue-100: #324168;
    --color-darkslateblue-200: #2c406e;
    --color-aliceblue-100: #f5faff;
    --color-aliceblue-200: #eaf3ff;
    --color-indianred: #c1594c;
    --color-dimgray: #686868;
    --color-black: #000;

    /* Gaps */
    --gap-41xl: 60px;
    --gap-11xl: 30px;
    --gap-51xl: 70px;
    --gap-mid: 17px;
    --gap-3xs: 10px;
    --gap-xl: 20px;
    --gap-mini: 15px;
    --gap-xs: 12px;
    --gap-43xl: 62px;
    --gap-base: 16px;
    --gap-5xl: 24px;

    /* Paddings */
    --padding-61xl: 80px;
    --padding-11xl: 30px;
    --padding-3xs: 10px;
    --padding-21xl: 40px;
    --padding-smi: 13px;
    --padding-xl: 20px;
    --padding-11xs: 2px;
    --padding-41xl: 60px;
    --padding-2xs: 11px;
    --padding-3xl: 22px;

    /* border radiuses */
    --br-3xs: 10px;
    --br-9xs: 4px;
    --br-5xs: 8px;
    --br-31xl: 50px;
    --br-base: 16px;
}
